.footer {
}
.footer__block1 {
  display: flex;
  width: 1920px;
  height: 398px;
  /* background-color: white; */
  margin: auto;
  padding-top: 88px;
  border-bottom: 1px solid #1B1C1C;
}
.footer__logo {
  padding-left: 303px;
  /* background-color: red; */
}
.footer__pdoducts {
  padding-left: 171px;
  /* background-color: green; */
}
.footer__pdoducts h6,
.footer__company h6 {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  padding-bottom: 32px;
}
.footer__company {
  position: relative;
  padding-left: 89px;
  /* background-color: yellow; */
}
.footer__company li,
.footer__pdoducts li {
  color: #7f8589;
  font-size: 15px;
  font-weight: 400;
  line-height: 125%;
  margin-top: 16px;
}
.footer__company strong {
  color: #fff;
}
.accent {
  position: absolute;
  bottom: 74px;
  display: flex;
  height: 102px;
  width: 210px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer__img {
  position: absolute;
  bottom: 10px;
  width: 32px;
  height: 32px;
}
.footer__img-logo {
  width: 73px;
  height: 29px;
}
.footer__tel {
  padding-left: 210px;
  /* background-color: pink; */
}
.footer__tel a {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
}
.footer__tel h6 {
  color: #fff;
font-size: 15px;
font-weight: 700;
line-height: 125%; /* 18.75px */
padding-top: 66px;
}
.footer__line {
  position: relative;
  width: 352px;
  height: 40px;
  border-bottom: 1px solid #2B3032;
  padding-top: 24px;
}
.footer__line a,
.footer__line p {
  color: #fff;
font-size: 15px;
font-weight: 400;
position: absolute;
  bottom: 18px;
  left: 48px;
}
.footer__block2 {
  display: flex;
  justify-content: space-between;
}
address {
  color:  #7F8589;
font-size: 15px;
font-weight: 400;
line-height: 150%; /* 22.5px */
width: 272px;
padding-top: 16px;
}
.copyright {
  padding-left: 303px;
  color: #7f8589;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 31px;
  padding-top: 32px;
}
.confidentiality {
  padding-right: 303px;
  color: #7f8589;
  font-size: 15px;
  font-weight: 400;
  padding-bottom: 31px;
  padding-top: 32px;
}

