.hidden {
  display: none;
}
.menu--mobile {
  display: none;
}
.header {
  /* max-width: 1920px; */
  /* width: 100vw; */
  /* background-color: green; */
  margin: auto;
  display: flex;
  border-bottom: 1px solid #292b32;
}
.header__container {
  position: relative;
  width: 1760px;
  /* background-color: red; */
  margin-left: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: auto; */

}
.header__logo {
  height: 24px;
  margin-right: 163px;
}
.header__nav {
  z-index: 2;
}
.header__nav ul {
  display: flex;
}
.header__link::after {
  position: absolute;
  left: 0px;
  bottom: -35px;
  right: 0px;
  content: '';
  display: block;
  height: 2px;
  background-color: transparent;
}
.header__link:hover::after {
  position: absolute;
  left: 0px;
  bottom: -35px;
  right: 0px;
  content: '';
  display: block;
  height: 2px;
  background-color: #ff3e41;
}
.header__link {
  text-decoration: none;
  color: #cbcecf;
  text-transform: uppercase;
  margin-right: 66px;
}
.header__link:hover {
  color: #fff;
  position: relative;
}
.header__input {
  width: 455px;
  height: 38px;
  border-radius: 5px;
  background: #25292b;
  margin-left: 19px;
  align-items: center;
}
.header__input::placeholder {
  color: #7f8589;
  font-size: 12px;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-left: 18px;
}
form {
  position: relative;
}
form img {
  position: absolute;
  right: 9px;
  top: 2px;
  width: 32px;
  height: 32px;
}
.header__img {
  margin-left: auto;
  display: flex;
}
.header__img-size {
  width: 32px;
  height: 32px;
}
.header__img-web {
  padding-right: 8px;
}
.header__img-search {
  padding-right: 9px;
}
.header__img-cart {
  padding: 0 24px 0 15px;
}
.header__img-cart:hover,
.header__img-search:hover,
.header__img-user:hover {
  opacity: 0.6;
}
.header__info {
  align-items: center;
  display: flex;
}
.header__info a {
  color: #fff;
}
.tel {
  font-size: 14px;
  font-weight: 700;
  padding-left: 109px;
  padding-right: 64px;
}
.tel:hover,
.header__info span:hover {
  color: #ff3e41;
  cursor: pointer;
}
.header__info span {
  padding-right: 79px;
}
input {
  padding-left: 15px;
}

/* подменю */

.header__nav ul li ul {
  position: relative;
  display: none ;
  position: absolute;
  left: 120px;
  top: 10px;
  /* top: 60px; */
  width: 273px;
  background-repeat: no-repeat;
  height: 300px;
  /* background-color: #25292b; */
  padding-left: 32px;
  padding-top: 95px;
  z-index: 2;
}
.header__nav ul li ul img {
  position: absolute;
  top: 60px;
  left: 1px;
  z-index: -1;
}
.header__nav ul li ul li a {
  width: 100%;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  padding: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  padding-bottom: 20px;
}
.header__nav ul li ul li a:hover {
  color: #ff3e41;
}
.header__nav ul li:hover > ul  {
  display: initial ;
}

/* burger */
.header__img-burger,
.header__img-tel {
  display: none;
}
.header__nav {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.header__nav a {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}
.header__nav a:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.header__nav a:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.header__nav a:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.header__nav a:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.header__nav a:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
.header__nav a:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
