
.hidden {
  display: none;
}
.menu--mobile {
  display: none;
 }
.header {
  width: 1920px;
  /* background-color: green; */
  margin: auto;
  border-bottom: 1px solid #292b32;
}
.header__container {
  position: relative;
  width: 1760px;
  /* background-color: red; */
  margin-left: 80px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.header__logo {
  height: 24px;
  margin-right: 163px;
}
.header__link::after,
.header__link:hover::after {
  position: absolute;
  left: 0px;
  bottom: -35px;
  right: 0px;
  content: '';
  display: block;
  height: 2px;
}
.header__link {
  text-decoration: none;
  color: #cbcecf;
  text-transform: uppercase;
  margin-right: 66px;
}
.header__link:hover {
  color: #fff;
  position: relative;
}
.header__input {
  width: 455px;
  height: 38px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 5px;
  background: #25292b;
  margin-left: 19px;
  align-items: center;
}
.header__input::placeholder {
  color: #7f8589;
  font-size: 12px;
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  font-weight: 550;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  padding-left: 18px;
}
form {
  position: relative;
}
form img {
  position: absolute;
  right: 9px;
  top: 2px;
  width: 32px;
  height: 32px;
}
.header__img {
  margin-left: auto;
  display: flex;
}
.header__img-size {
  width: 32px;
  height: 32px;
}
.header__img-web {
  padding-right: 8px;
}
.header__img-search {
  padding-right: 9px;
}
.header__img-cart {
  padding: 0 24px 0 15px;
}
.header__img-cart:hover,
.header__img-search:hover,
.header__img-user:hover {
  opacity: 0.6;
}
.header__info {
  align-items: center;
  display: flex;
}
.header__info a {
  color: #fff;
}
.tel {
  font-size: 14px;
  font-weight: 700;
  padding-left: 109px;
  padding-right: 64px;
}
.tel:hover,
.header__info span:hover {
  color: #ff3e41;
  cursor: pointer;
}
.header__info span {
  padding-right: 79px;
}
input {
  padding-left: 15px;
}
/* promptNav */
.promptNavPR {
  position: absolute;
  top: 90px;
  left: 342px;
  /* left: 475px; */
}
.promptNav {
  position: relative;
  top: 10.5px;
  z-index: 2;
}
.promptNav ul {
  position: absolute;
  z-index: 2;
  bottom: 19px;
  left: 22px;
}
.promptNav li {
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
}
.promptNav__img {
  z-index: 1;
  width: 273px;
  height: 196.5px;
}

/* burger */
.header__img-burger,
.header__img-tel {
  display: none;
}
