.home {
  position: relative;
  display: flex;
  flex-direction: row;
  /* width: 1920px; */
  margin: auto;
  height: 865px;
}
.home__nav {
	position: fixed;
  transform: rotate(270deg);
  writing-mode: tb-rl;
  margin-top: 105px;
  margin-left: 97px;
  width: 25px;
}
.home__nav li {
  transform: rotate(270deg);
  margin-left: 27px;
}
.home__nav li a {
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  color: #7f8589;
  font-size: 13px;
  font-weight: 550;
  line-height: 135%; /* 17.55px */
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.home__nav li a:hover {
  color: #ff3e41;
}
@keyframes move {
  from {
    left: 150px;
  }
}
.home__subtitle {
  position: absolute;
  display: flex;
  width: 371px;
  height: 125px;
  top: 77px;
  left: 303px;
  flex-direction: column;
  color: #cbcecf;
  font-size: 32px;
  font-weight: 700;
  line-height: 135%; /* 43.2px */
  justify-content: center;
  animation: move 2s;
}
.home__img1 {
  position: absolute;
  left: 717px;
  top: 141px;
  width: 438px;
  height: 685px;
  transition: all .2s ease-in;
}
.home__img1:hover,
.home__img2:hover {
  transform: scale(1.2);
}
.home__img2 {
  position: absolute;
  left: 220px;
  top: 216px;
  width: 491.651px;
  height: 500px;
  transition: all .2s ease-in;
}
.home__point {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 394px;
  left: 420px;
}
.home__tverdomer {
  position: absolute;
  left: 190px;
  top: 413px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
}
.home__tverdomer:hover {
  color: #ff3e41;
}
.home__title {
  position: absolute;
  top: 324px;
  right: 300px;
  color: #fff;
  text-align: right;
  font-size: 72px;
  font-weight: 700;
  line-height: 125%;
  width: 608px;
  height: 171px;
}
.home__examination {
  position: absolute;
  top: 510px;
  right: 300px;
}
.home__examination-line {
  position: relative;
}
.home__examination-content {
  color: #cbcecf;
  font-size: 16px;
  font-weight: 550;
  line-height: 135%; /* 21.6px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.home__examination-content::after,
.home__examination-content:hover::after {
  position: absolute;
  top: 9px;
  left: -112px;
  content: '';
  display: block;
  height: 2px;
  width: 88px;
  background-color: #cbcecf;
}
.home__play {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 95px;
  right: 290px;
}
.home__play:hover {
  opacity: 0.7;
  cursor: pointer;
}
.home__gosreestr {
  width: 115px;
  height: 105px;
  top: 701px;
  right: 300px;
  position: absolute;
}
.home__down-img {
  position: absolute;
  top: 790px;
  left: 80px;
  width: 56px;
  height: 56px;
}
.home__down-content {
  position: absolute;
  top: 743px;
  left: 100px;
  transform: rotate(180deg);
  writing-mode: tb-rl;
  color: #cbcecf;
  font-size: 13px;
  font-weight: 700;
  line-height: 135%; /* 17.55px */
  letter-spacing: 2.47px;
  text-transform: uppercase;
}
.home__down-content:hover {
  opacity: 0.5;
  cursor: pointer;
}
.home__pay {
  position: absolute;
  top: 779px;
  left: 303px;
}
.home__pay-line {
  position: relative;
}
.home__pay-content {
  color: #cbcecf;
  font-size: 16px;
  font-weight: 550;
  line-height: 135%; /* 21.6px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.home__pay-content:hover {
  color: #ff3e41;
  cursor: pointer;
}
.home__pay-content::after {
  position: absolute;
  top: 25px;
  left: 0px;
  content: '';
  display: block;
  height: 2px;
  width: 66px;
  background-color: #cbcecf;
}
.home__pay-content:hover::after {
  background-color: #ff3e41;
  cursor: pointer;
}
.home__socials {
  position: absolute;
  top: 320px;
  right: 25px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.home__socials-icon {
  background-color: #313538;
  width: 20px;
  height: 20px;
  padding: 14px;
  border-radius: 50%;
}
.home__socials-icon:hover,
.home__socials-telegram-fon:hover {
  background-color: #259cd8;
}
.home__socials-telegram {
  width: 16px;
  height: 16px;
  padding: 16px;
  z-index: 5;
  position: relative;
}
.home__socials-telegram-fon {
  background-color: #313538;
  border-radius: 50%;
  z-index: 2;
  /* position: relative; */
}
.home__socials-telegram-prompt,
.home__socials-whatsapp-prompt,
.home__socials-sms-prompt,
.home__socials-message-prompt {
  position: absolute;
  top: 0;
  left: -169px;
  width: 192px;
  height: 48px;
  border-radius: 51px;
  background: #313538;
  color: #cbcecf;
  font-size: 16px;
  font-weight: 550;
  line-height: 260%; /* 41.6px */
  padding-left: 25px;
  z-index: 1;
  line-height: 48px;
}
.sms {
  position: relative;
}
.sms-link {
  position: relative;
  z-index: 2;
}
.message {
  position: relative;
}
.message-link {
  position: relative;
  z-index: 2;
}
.whatsapp {
  position: relative;
}
.home__socials-whatsapp {
  background-color: #313538;
  border-radius: 50%;
}
.home__socials-whatsapp:hover rect {
  fill: #259cd8;
}
.whatsapp__link {
  position: relative;
  z-index: 2;
}
.homeSlide2 .home__img2 {
  width: 728px;
  height: 782px;
  position: absolute;
  top: 83px;
  left: 508px;
}
.homeSlide2 .home__img1 {
  width: 312px;
  height: 501px;
  position: absolute;
  top: 195px;
  /* right: 466px; */
  left: 1142px;
}
.homeSlide2 .home__point {
  position: absolute;
  top: 400px;
  left: 1361px;
}
.homeSlide2 .home__tverdomer {
  position: absolute;
  top: 392px;
  left: 190px;
  color: #fff;
  font-size: 72px;
  font-weight: 700;
  line-height: 125%;
}
.homeSlide2 .home__title {
  position: absolute;
  top: 415px;
  right: 190px;
  color: #cbcecf;
  text-align: right;
  font-size: 32px;
  font-weight: 700;
  line-height: 125%;
}
.homeSlide2 .home__title:hover,
.homeSlide2 .home__examination-content:hover {
  color: #ff3e41;
}
.homeSlide2 .home__examination {
  position: absolute;
  top: 490px;
  left: 300px;
}
/* плавность смены экранов */
.homeSlide1,
.homeSlide2{
  opacity: 0;
  animation: ani 1s forwards;
}
@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/* video */
.home__blockPlay {
  position: absolute;
  top: -80px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(49, 44, 44, 0.905);
  z-index: 3;
}
.video {
  position: absolute;
  top: 10%;
  left: 17%;
}
