@font-face {
	font-family: 'HelveticaNeueCyr';
	src: url('HelveticaNeueCyr-Roman.eot');
	src: local('HelveticaNeueCyr-Roman'),
		url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'HelveticaNeueCyr', Arial, sans-serif;
  font-weight: 550;
  font-style: normal;
  letter-spacing: 0.6px;
  font-size: 12px;
  color: #cbcecf;
  background-color: #1B1F22;
  width: 1920px;
}
.none {
  display: none !important;
}
.menu--mobile {
  display: none;
}




