.production {
  padding-bottom: 128px;
}
.active.production{
  animation: scroll 1s ease-in;
}
.production h2 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 135%; /* 54px */
  padding-bottom: 80px;
}
.carousel2 {
  position: relative;
  width: 1314px;
  margin: auto;
}
.carousel2__imgPr {
  position: relative;
}
.carousel2__dark {
  background-color: #1b1f22;
  opacity: 0.6;
}
.carousel2__btn-left {
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  z-index: 3;
}
.carousel2__btn-right {
  position: absolute;
  rotate: 180deg;
  top: 50%;
  right: -100px;
  transform: translateY(50%);
  z-index: 3;
}

.carousel2__imgPr:hover .overlay {
  opacity: 0.6;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .3s ease;
  background-color: #1b1f22;
}
.zoom-img {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 170px;
  left: 175px;
 

}


