.security {
  display: flex;
  width: 1314px;
  height: 782px;
  border-radius: 28px;
  margin-left: 303px;
  margin-top: 30px;
  padding-bottom: 128px;
}
.active.security {
  animation: scroll 1s ease-in;
}
.security__frame {
  background-color: #25292c;
  border-radius: 28px;
  width: 530px;
  height: 782px;
}
.security__frame h2 {
  padding: 77px 0 48px 72px;
  width: 362px;
  height: 91px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 135%; /* 54px */
}
.security__frame p {
  padding-left: 72px;
  padding-bottom: 20px;
  width: 339px;
  color: #cbcecf;
  font-size: 16px;
  font-weight: 550;
  line-height: 180%;
}
.security__frame img {
  width: 509px;
  height: 460px;
  border-radius: 28px;
}
.security__dataTransfer {
  position: relative;
  background-color: #25292c;
  border-radius: 28px;
  margin-left: 30px;
  width: 754px;
  height: 376px;
  line-height: 376px;
}
.security__dataTransfer p {
  width: 364px;
  height: 376px;
  color: #fff;
  font-size: 20px;
  font-weight: 550;
  line-height: 160%;
  padding-left: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.security__dataTransfer img {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 28px;
}
.security__guarantee {
  position: relative;
  background-color: #25292c;
  border-radius: 28px;
  margin-left: 30px;
  margin-top: 30px;
  width: 754px;
  height: 376px;
}
.security__guarantee p {
  position: absolute;
  top: 76px;
  left: 207px;
  color: #fff;
  font-size: 200px;
  font-weight: 700;
  line-height: 135%; /* 270px */
}
.security__guarantee span {
  position: absolute;
  top: 148px;
  left: 336px;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 125%; /* 50px */
  text-transform: uppercase;
  width: 211px;
}
.security-line {
  position: relative;
  position: absolute;
  top: 48px;
  right: 56px;
}
.security a {
  top: 48px;
  right: 56px;
  color: #cbcecf;
  font-size: 16px;
  font-weight: 550;
  line-height: 135%; /* 21.6px */
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
.security a:hover {
  color: #ff3e41;
  cursor: pointer;
}
.security a::after {
  position: absolute;
  top: 25px;
  left: 0px;
  content: '';
  display: block;
  height: 2px;
  width: 104px;
  background-color: #cbcecf;
}
.security a:hover::after {
  background-color: #ff3e41;
}
.security__dataTransfer-imgMobile {
  display: none;
}
