.sensor {
  position: relative;
  width: 1314px;
  height: 782px;
  background-color: #25292c;
  border-radius: 28px;
  margin-left: 303px;
  margin-top: 30px;
}
.sensor__title {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  line-height: 135%;
  width: 640px;
  margin: auto;
  padding-top: 72px;
}
.sensor__content1 {
  position: absolute;
  top: 300px;
  left: 89px;
  width: 306px;
  height: 100px;
}
.sensor__content2 {
  position: absolute;
  top: 300px;
  right: 70px;
  width: 271px;
  height: 108px;
}
.sensor__img {
  position: absolute;
  bottom: 0;
  left: 321px;
  width: 672px;
  height: 642px;
}
.sensor__content1 h2{
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 16px;
}
.sensor__content1 li{
  color:#CBCECF;
  font-size: 16px;
  font-weight: 550;
  line-height: 180%;
}
.sensor__content2 h2{
  width: 271px;
  color: #fff;
font-size: 24px;
font-weight: 700;
line-height: 150%;
padding-bottom: 19px;
}
.sensor__content2 a{
  color: #FF3E41;
font-size: 16px;
font-weight: 400;
line-height: 150%; /* 24px */
text-decoration-line: underline;
}
.sensor__content2 a:hover {
  cursor: pointer;
}

