@media (max-width: 390px) {
  .footer__block1 {
    position: relative;
    display: block;
    width: 390px;
    height: 710px;
    /* background-color: red; */
    margin: 0 16px;
    margin: inherit;
    padding-top: 56px;
    border-bottom: none;
  }
  .footer__tel {
    position: absolute;
    top: 119px;
    padding-left: 16px;
    /* background-color: pink; */
  }
  .footer__tel a {
    font-size: 20px;
  }
  .footer__tel h6 {
    font-size: 14px;
    padding-top: 0px;
  }
  .footer__logo {
    padding-left: 16px;
  }
  .office {
    position: absolute;
    top: 195px;
    left: 16px;
  }
  address {
    font-size: 11px;
    width: 358px;
    padding-top: 12px;
  }
  .footer__pdoducts {
    padding-left: 16px;
    /* background-color: green; */
    position: absolute;
    top: 421px;
    padding-bottom: 40px;
  }
  .footer__pdoducts h6,
  .footer__company h6 {
    font-size: 12px;
    padding-bottom: 22px;
  }
  .footer__img-logo {
    width: 60px;
    height: 24px;
  }
  .footer__company li,
  .footer__pdoducts li {
    font-size: 11px;
  }
  .footer__company {
    position: absolute;
    top: 421px;
    left: 195px;
    padding-left: 42px;
  }
  .footer__company a,
  .footer__pdoducts a {
    color: #7f8589;
  }
  .accent {
    position: absolute;
    bottom: -132px;
  }
  .accent strong {
    font-size: 12px;
  }
  .footer__pdoducts::after {
    position: absolute;
    bottom: 1px;
    left: 16px;
    content: '';
    display: block;
    height: 1px;
    width: 358px;
    /* background-color: #9ebdbd; */
    background-color: #1b1c1c;
  }
  .footer__block2 {
    display: block;
  }
  .copyright {
    padding-left: 16px;
    font-size: 11px;
    padding-bottom: 10px;
    padding-top: 0px;
  }
  .confidentiality {
    padding-right: inherit;
    font-size: 11px;
    padding: 0 0 56px 16px;
  }
  .footer__up-img {
   display: none;
  }
}
