@media (max-width: 1410px) {
  .header {
    width: 1400px;
  }
  .header__container {
    width: 1240px;
  }
}
@media (max-width: 390px) {
  .header__logo {
    width: 57px;
    height: 23px;
  }
  .header {
    width: 390px;
  }
  .header__logo {
    padding-left: 16px;
  }
  .header__container {
    height: 23px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 358px;
    margin-left: 16px;
    margin-right: 16px;
  }
  .header__nav,
  .header__info,
  .header__info span,
  .header__img-user,
  .tel,
  .header__img-web,
  .header__img-search {
    display: none;
  }
  .header__img-cart {
    padding: 0 40px 0 15px;
  }
  .header__img-tel {
    display: block;
  }
  .header__img-burger {
    display: block;
  }
  .header__img {
    margin-left: auto;
    display: flex;
  }
  .header__img-burger:hover,
  .header__img-tel:hover {
    opacity: 0.6;
  }
  /* burger */
  .menu-icon-wrapper {
    position: absolute;
    top: 26.5px;
    right: 2px;
    width: 18.5px;
    height: 14px;
  }
  .menu-icon {
    position: relative;
    width: 13px;
    height: 3px;
    background-color: #fff;
  }
  .menu-icon::before {
    position: absolute;
    left: 0;
    top: -5.5px;
    content: '';
    width: 18.5px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon::after {
    position: absolute;
    left: 0;
    top: 5.5px;
    content: '';
    width: 18.5px;
    height: 3px;
    background-color: #fff;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  }
  .menu-icon.menu-icon-active {
    background-color: transparent;
  }
  .menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }


  
}