@media (max-width: 1710px) {
  .home {
    width: 1600px;
    /* background-color: rgb(179, 255, 0); */
  }
  .home__blockPlay {
    width: 1600px;
  }
  .home__img1 {
    left: 515px;
  }
  .homeSlide2 .home__img2 {
    left: 515px;
  }
  .homeSlide2 .home__point {
    left: 1050px;
  }
  .video {
    top: 35px;
    left: 170px;
  }
  .homeSlide2 .home__tverdomer {
    font-size: 65px;
  }
  .home__title {
    font-size: 65px;
  }
  .home__img2 {
    left: 100px;
  }
}
@media (max-width: 1610px) {
  .home {
    width: 1500px;
    /* background-color: #ffaa00; */
  }
  .home__blockPlay {
    width: 1500px;
  }
  .video {
    left: 110px;
  }
  .homeSlide2 .home__tverdomer {
    font-size: 55px;
  }
  .home__title {
    font-size: 55px;
  }
  .homeSlide2 .home__img2 {
    left: 460px;
  }
  .homeSlide2 .home__point {
    left: 976px;
  }
  .homeSlide2 .home__img1 {
    left: 1050px;
  }
}
@media (max-width: 1510px) {
  .home {
    width: 1400px;
    /* background-color: rgb(0, 255, 94); */
  }
  .home__blockPlay {
    width: 1400px;
  }
  .video {
    left: 70px;
  }
  .homeSlide2 .home__img2 {
    width: 607px;
    height: 652px;
  }
  .homeSlide2 .home__point {
    left: 900px;
  }
  .homeSlide2 .home__title {
    font-size: 28px;
  }
  .home__tverdomer {
    font-size: 28px;
  }
  .home__point {
    left: 380px;
  }
  .home__img1 {
    left: 400px;
  }
  .home__img2 {
    width: 409px;
    height: 417px;
  }
  .homeSlide2 .home__img1 {
    width: 260px;
    height: 417px;
    left: 1000px;
  }
}

@media (max-width: 1410px) {
  .home {
    width: 1300px;
    /* background-color: red; */
  }
  .home__blockPlay {
    width: 1300px;
  }
  .video {
    left: 220px;
  }
  .video iframe {
    width: 840px;
    height: 472px;
  }
  .homeSlide2 .home__img2 {
    width: 506px;
    height: 543px;
    left: 431px;
  }
  .homeSlide2 .home__point {
    left: 807px;
  }
  .homeSlide2 .home__img1 {
    width: 217px;
    height: 348px;
    left: 943px;
  }
  .home__img1 {
    width: 365px;
    height: 570px;
    left: 440px;
  }
  .home__img2 {
    width: 340px;
    height: 348px;
  }
  .home__subtitle {
    left: 240px;
  }
  .home__title {
    right: 190px;
  }
  .home__examination {
    right: 190px;
  }
  .homeSlide2 .home__tverdomer {
    left: 150px;
  }
  .homeSlide2 .home__examination {
    left: 260px;
  }
}

@media (max-width: 390px) {
  body {
    width: 358px;
  }
  .home__nav,
  .blur,
  .home__point,
  .home__down-img,
  .home__down-content,
  .home__socials,
  .br {
    display: none;
  }
  .home__subtitle {
    width: 179px;
    height: 68px;
    top: 25px;
    left: 16px;
    font-size: 18px;
  }
  .home__play {
    width: 71.465px;
    height: 67.597px;
    top: 25px;
    right: 20px;
  }
  .home__img1 {
    position: static;
    padding-left: 40px;
    padding-top: 109px;
    width: 302px;
    height: 381px;
  }
  .home__img1:hover,
  .home__img2:hover {
    transform: scale(1.1);
  }
  .home {
    height: 690px;
    width: 390px;
    margin-left: 16px;
    margin-top: 55px;
  }
  .home__tverdomer,
  .homeSlide2 .home__title {
    position: static;
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 18px;
    width: 358px;
    padding-top: 16px;
    color: #cbcecf;
  }

  .home__title,
  .homeSlide2 .home__tverdomer {
    position: static;
    color: #fff;
    text-align: center;
    font-size: 28px;
    width: 358px;
    height: 36px;
    padding-top: 7px;
  }
  .home__examination {
    position: static;
    display: flex;
    justify-content: space-between;
    padding-left: 58px;
    padding-top: 50px;
  }
  .homeSlide2 .home__examination {
    position: static;
    display: flex;
    justify-content: space-between;
    padding-left: 58px;
    padding-top: 35px;
  }
  .home__examination-content {
    font-size: 12px;
  }
  .home__examination-content::after,
  .home__examination-content:hover::after {
    top: 6px;
    left: -42px;
    width: 30px;
  }
  .home__gosreestr {
    width: 60px;
    height: 54.782px;
    top: 111px;
    right: 30px;
  }
  .home__pay {
    top: 620px;
    left: inherit;
    right: 31px;
  }
  .home__pay-content {
    font-size: 12px;
  }
  .home__pay-content::after {
    width: 50px;
  }
  .homeSlide2 .home__img2 {
    width: 302px;
    height: 381px;
    position: static;
    padding-left: 40px;
    padding-top: 109px;
  }
}
