@media (max-width: 390px) {
  .infocenter {
    height: 648px;
    width: 390px !important;
  }
  .infocenter__line {
    display: none;
  }
  .infocenter h2 {
    font-size: 20px;
    padding-top: 47px;
    padding-bottom: 35px;
  }
  .infocenter__item {
    width: 315px;
    height: 433px;
    border-radius: 20px;
  }
  .infocenter__img {
    border-radius: 20px;
    width: 315px;
    height: 218px;
  }
  .infocenter__item h6 {
    padding-top: 30px;
    padding-left: 28px;
    font-size: 12px;
  }
  .infocenter__item p {
    padding: 15px 0 0 28px;
    width: 259px;
    font-size: 14px;
  }
  .infocenter__item span {
    font-size: 12px;
    padding-left: 28px;
    bottom: 33px;
  }
  .infocenter .carousel2 .carousel2__btn-left {
    width: 17px;
    height: 17px;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 8px;
    left: 0;
    bottom: -208px;
    z-index: 3;
    top: inherit;
  }
  .infocenter .carousel2 .carousel2__btn-right {
    width: 17px;
    height: 17px;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 8px;
    top: inherit;
    bottom: -208px;
    right: inherit;
    left: 58px;
    z-index: 3;
  }
  .infocenter__line a {
    font-size: 12px;
    position: absolute;
    bottom: -419px;
    left: 257px;
    width: 118px;
  }
  .infocenter .active {
    width: 320px !important;
  }
}



