@media (max-width: 390px) {
  body {
    min-width: inherit;
  }
  .hidden{
    display: none !important;
  }
  .nav--mobile {
    position: relative;
    position: fixed;
    height: 55px;
    display: block;
    left: 0;
    top: 0px;
    width: 390px;
    z-index: 99;
    background-color: #1b1f22;
  }
  .menu--mobile::before {
    position: absolute;
    top: 0px;
    content: '';
    display: block;
    height: 1px;
    width: 390px;
    background-color: #292b32;
  }
  .menu--mobile {
    overflow-y: hidden;
    position: fixed;
    /* background-color: red; */
    background-color: #1b1f22;
    display: block;
    left: 0px;
    top: 55px;
    width: 390px;
    height: 100%;
    /* height: 793px; */
    z-index: 99;
    flex-direction: column;
  }
  .menu--mobile form input {
    width: 338px;
    height: 45px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #25292b;
    margin-left: 16px;
    align-items: center;
    padding-left: 20px;
    margin-top: 32px;
  }
  .header__input::placeholder {
    font-size: 14px;
    text-transform: none;
  }
  .menu--mobile form img {
    position: absolute;
    right: 28px;
    top: 38px;
    width: 32px;
    height: 32px;
  }
  .menu--mobile-user a {
    position: relative;
    display: flex;
    color: #cbcecf;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-top: 35px;
    padding-left: 55px;
    width: 162px;
  }
  .menu--mobile-user a:hover,
  .menu--mobile-eng a:hover,
  .menu--mobile-nav a:hover,
  .menu--mobile-nav-hidden a:hover {
    color: #ff3e41;
  }
  .menu--mobile-user img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 103px;
    left: 16px;
  }
  .menu--mobile-eng a {
    position: absolute;
    top: 111px;
    left: 343px;
    color: #cbcecf;
    font-size: 14px;
  }
  .menu--mobile-eng img {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 103px;
    left: 303px;
  }
  .menu--mobile::after {
    position: absolute;
    top: 168px;
    left: 16px;
    content: '';
    display: block;
    height: 1px;
    width: 358px;
    background-color: #292b32;
  }
  .menu--mobile-nav {
    position: relative;
    position: absolute;
    top: 202px;
    left: 16px;
  }
  .menu--mobile-nav-box a {
    display: block;
    color: #cbcecf;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .menu--mobile-nav-hidden a {
    color: #cbcecf;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-transform: none;
    padding-left: 20px;
  }
  .menu--mobile-products {
    position: relative;
  }
  .menu--mobile-products img {
    position: absolute;
    top: 4px;
    left: 109px;
    width: 13px;
    height: 7px;
  }
  .menu--mobile-nav-box::after {
    position: absolute;
    bottom: -4px;
    left: 0px;
    content: '';
    display: block;
    height: 1px;
    width: 358px;
    background-color: #292b32;
  }
  .tel--mobile {
    color: #fff;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .menu--mobile-socials {
    display: flex;
    padding-top: 22px;
  }
  .menu--mobile-socials-img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .menu--mobile-telBox {
    width: 390px;
    position: absolute;
    bottom: -127px;
    left: 16px;
  
  }
  
}