@media (max-width: 390px) {
  .metering {
    display: block;
    width: 358px;
    height: 624px;
    border-radius: 20px;
    margin-top: inherit;
    margin: auto;
    margin-top: 24px;
    margin-left: 16px;

  }
  .metering__img {
    min-width: 358px;
    height: 325px;
    /* position: absolute;
    right: 19px; */
    /* object-fit: cover; */
  }
  .metering__content h2 {
    padding-top: 29px;
    padding-left: 24px;
    width: 310px;
    font-size: 20px;
    font-weight: 700;
    line-height: 135%;
  }
  .metering__content p {
    color: #cbcecf;
    font-size: 12px;
    line-height: 150%; /* 27.2px */
    width: 310px;
    padding-left: 24px;
    padding-top: 24px;
    padding-bottom: 37px;
  }
  .metering__content a {
    padding-left: 24px;
    font-size: 12px;
  }
  .metering__choose a::after {
    left: 24px;
    width: 115px;
  }
}


