@media (max-width: 1710px) {
  .products {
    width: 1600px;
  }
  .carousel__block {
    width: 1336px;
  }
}
@media (max-width: 1610px) {
  .products {
    width: 1500px;
  }
  .carousel__block {
    width: 1300px;
  }
  .carousel__btn-left {
    left: -50px;
  }
  .carousel__btn-right {
    right: -50px;
  }
}
@media (max-width: 1510px) {
  .products {
    width: 1400px;
  }
  .carousel__btn-left {
    left: -33px;
  }
  .carousel__btn-right {
    right: -20px;
  }
 
}
@media (max-width: 1410px) {
  .products {
    width: 1300px;
  }
  .carousel__btn-left {
    left: 5px;
  }
  .carousel__btn-right {
    right: 18px;
  }
}

@media (max-width: 390px) {
  body {
    width: inherit;
  }
  .products {
    width: 390px !important;
    height: 733px;
  }
  .products h2 {
    font-size: 20px;
    padding-top: 47px;
  }
  .products__header {
    height: 139px;
  }
  .products-line {
    justify-content: left;
    padding-top: 30px;
    padding-left: 24px;
    font-size: 14px;
  }
  .products-link {
    padding-right: 46px;
  }
  .products__catalog-img {
    display: none;
  }
  .products a {
    padding-bottom: 20px;
    font-size: 12px;
  }
  .carousel {
    position: relative;
    width: 374px;
    height: 459px;
    display: flex;
    margin-left: auto;
  }
  .carousel__block {
    width: 374px;
    height: 459px;
    display: flex;
    margin-left: auto;
    margin-top: 2px;
  }
  .block {
    border-radius: 26px;
    width: 315px;
    height: 459px;
  }
  .carousel__img {
    border-radius: 35px;
    margin-top: 30px;
    padding: 84px 7px 95px 1px;

    width: 307px;
    height: 280px;
  }
  .carousel__item h4 {
    position: absolute;
    top: 32px;
    left: 30px;
    font-size: 14px;
  }
  .carousel__imgCard {
    right: 74px;
    bottom: 32px;
    width: 35px;
    height: 35px;
  }
  .carousel__img01 {
    right: 29px;
    bottom: 32px;
    width: 35px;
    height: 35px;
  }
  .carousel__imgSliding {
    bottom: 89px;
    left: 140px;
    width: 36px;
    height: 6px;
  }
  .carousel__item p {
    left: 29px;
    bottom: 53px;
    font-size: 11px;
  }
  .oldPrice {
    left: 30px;
    bottom: 32px;
    font-size: 18px;
  }
  .price {
    left: 97px;
    bottom: 32px;
    font-size: 18px;
  }
  .price2 {
    left: 30px;
    bottom: 32px;
    font-size: 18px;
  }
  .products__catalog {
    top: 661px;
    right: 16px;
  }
  .products__catalog a {
    text-transform: uppercase;
    height: 16px;
    line-height: 16px;
  }
  .products__catalog a::after {
    position: absolute;
    top: 20px;
    right: 0px;
    left: 0px;
    content: '';
    display: block;
    height: 1.5px;
    background-color: #1b1f22;
  }
  .products__catalog a:hover::after {
    background-color: #ff3e41;
  }
  .products-line a:hover::after {
    top: 31px;
    right: 0px;
    left: 0px;
    height: 1.5px;
  }
  .carousel__btn {
    width: 17px;
    height: 17px;
    background-color: #F5F5F5;
    border-radius: 50%;
  }
  .carousel__btn-right {
    width: 17px;
    height: 17px;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 8px;
    top: inherit;
    bottom: -105px;
    right: inherit;
    left: 74px;
    z-index: 3;
  }
  .carousel__btn-left {
    width: 17px;
    height: 17px;
    background-color: #F5F5F5;
    border-radius: 50%;
    padding: 8px;
    top: inherit;
    left: 16px;
    bottom: -105px;
    rotate: 180deg;
    z-index: 3;
  }
}



