@media (max-width: 390px)  {
  .production h2 {
    font-size: 20px;
    padding-bottom: 35px;
    padding-top: 47px;
  }
  .carousel2 {
    width: 390px;
    height: 298px;
    margin-left: 16px;
  }
  .carousel2__imgPr {
    position: relative;
    width: 304px;
    border-radius: 22px;
  }
  .zoom-img {
    position: absolute;
    top: 126px;
    left: 130px;
  }
  .carousel2__btn-right {
    width: 17px;
    height: 17px;
    background-color: #25292C;
    border-radius: 50%;
    padding: 8px;
    top: inherit;
    bottom: -66px;
    right: inherit;
    left: 58px;
    z-index: 3;
  }
  .carousel2__btn-left {
    width: 17px;
    height: 17px;
    background-color: #25292C;
    border-radius: 50%;
    padding: 8px;
    left: 0;
    bottom: -66px;
    z-index: 3;
    top: inherit;
  }
  .production {
    height: 505px;
    padding-bottom: 0px;
  }
  .active {
    width: 320px !important;
  }
  
}








