@media (max-width: 390px) {
  .reputation {
    font-size: 20px;
    padding-top: 54px;
  }
  .reputation__container {
    padding-top: 0px;
    width: 390px;
    height: 1300px;
    padding-bottom: inherit;
  }
  .reputation__container1 {
    display: block;
    column-gap: inherit;
  }
  .reputation__block1 {
    margin: auto;
    width: 358px;
    height: 424px;
    border-radius: 20px;
  }
  .reputation__24 {
    margin-top: 32px;
    margin-left: 24px;
  }
  .reputation__block1 h2 {
    font-size: 100px;
    transform: translateY(54px);
  }
  .reputation__block1 h3 {
    top: 56px;
    left: 147px;
    font-size: 20px;
    width: 88px;
  }
  .reputation__block1 p {
    top: 130px;
    left: 24px;
    font-size: 12px;
    width: 310px;
  }
  .reputation__button {
    bottom: 32px;
    left: 24px;
  }
  .reputation__btn {
    border-radius: 42px;
    width: 150px;
    height: 45px;
  }
  .reputation__btnB {
    border-radius: 42px;
    width: 310px;
    height: 45px;
  }
  .reputation__certificates a,
  .reputation__reviews a {
    font-size: 12px;
    line-height: 12px;
  }
  .reputation__certificates {
    padding-bottom: 10px;
  }
  .reputation__certificates-img1 {
    position: absolute;
    top: 10px;
    left: 18px;
    width: 26px;
    height: 26px;
  }
  .reputation__certificates-img2 {
    position: absolute;
    top: 10px;
    left: 33px;
    width: 26px;
    height: 26px;
  }
  .reputation__certificates-img3 {
    position: absolute;
    top: 10px;
    left: 115px;
    width: 26px;
    height: 26px;
  }
  .reputation__link1 {
    position: absolute;
    top: 16px;
    left: 47px;
  }
  .reputation__link2 {
    position: absolute;
    top: 16px;
    left: 62px;
  }
  .reputation__link3 {
    position: absolute;
    top: 16px;
    left: 144px;
  }
  /* block2 */
  .reputation__block2 {
    width: 358px;
    height: 496px;
    border-radius: 20px;
    margin: 24px auto;
  }
  .reputation__box {
    display: grid;
    grid-template-columns: 6.185fr 1fr 6.185fr;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 19px;
  }
  .reputation__box-mobile {
    display: none !important;
  }
  .reputation__vector {
    display: block;
    height: 37px;
  }
  .reputation__box-desctopNon {
    display: block;
    height: 37px;
  }
  .reputation__box {
    width: 358px;
    height: 341px;
  }
  .reputation__block2 h2 {
    font-size: 18px;
    padding-top: 32px;
    padding-bottom: 22px;
  }
  .reputation-line a {
    font-size: 12px;
  }
  .reputation__social {
    display: block;
    padding-top: 0px;
  }
  .reputation__social-box {
    width: 358px;
    height: 100px;
    border-radius: 15px;
    background: #25292c;
    margin-left: 16px;
    margin-bottom: 16px;
  }
  .reputation__social-text {
    font-size: 18px;
    line-height: 33px;
    padding-left: 34px;
  }
  .reputation__social-box:first-child {
    margin-left: 16px;
  }
}








.reputation__social-img {
  width: 43px;
  height: 43px;
  top: 29px;
  right: 24px;
}
