@media (max-width: 390px) {
  .scale {
    position: relative;
    width: 358px;
    height: 865px;
    border-radius: 20px;
    margin: auto;
    margin-top: 54px;
    margin-left: 16px;

  }
  .scale__img {
    position: absolute;
    top: 6px;
    right: 0;
    margin-left: inherit;
    width: 334px;
    height: 348px;
  }
  .scale__title {
    padding: 361px 0 0 24px;
    width: 288px;
    font-size: 20px;
  }
  .table {
    display: block;
    /* background-color: red; */
  }
  .scale__table {
    padding: 40px 0 0 24px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* padding: 72px 0 0 72px;
    border-collapse: separate;
    border-spacing: 0 10px; */
  }
  .scale__table2mobile {
    /* background-color: blue; */
    position: absolute;
    top: 656px;
    left: 24px;
    padding: 0px 0 0 0px;

  }
  .scale__table-title {
    font-size: 12px;
  }
  .scale__table-content {
    font-size: 12px;
    height: 31px;
  }
 
}
