@media (max-width: 1710px) {
  .scale {
    width: 1080px;
    height: 600px;
    border-radius: 28px;
    margin-left: 220px;
    margin-top: 100px;
  }
  .scale__img img{
    width: 550px;
    height: 550px;
  }
}
@media (max-width: 1610px) {
  .scale {
    width: 980px;
    height: 600px;
    border-radius: 28px;
    margin-left: 220px;
    margin-top: 90px;
  }
  .scale__img img{
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1510px) {
  .scale {
    width: 900px;
    height: 600px;
    border-radius: 28px;
    margin-left: 200px;
    margin-top: 60px;
  }
  .scale__img img{
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1410px) {
  .scale {
    width: 810px;
    height: 600px;
    border-radius: 28px;
    margin-left: 180px;
    margin-top: 60px;
  }
  .scale__img img{
    width: 300px;
    height: 300px;
  }
}



@media (max-width: 390px) {
  .scale {
    position: relative;
    width: 358px;
    height: 865px;
    border-radius: 20px;
    margin: auto;
    margin-top: 54px;
    margin-left: 16px;

  }
  .scale__img {
    position: absolute;
    top: 6px;
    right: 0;
    margin-left: inherit;
  }
  .scale__img img{
    width: 334px;
    height: 348px;
  }
  
  .scale__title {
    padding: 361px 0 0 24px;
    width: 288px;
    font-size: 20px;
  }
  .table {
    display: block;
    /* background-color: red; */
  }
  .scale__table {
    padding: 40px 0 0 24px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* padding: 72px 0 0 72px;
    border-collapse: separate;
    border-spacing: 0 10px; */
  }
  .scale__table2mobile {
    /* background-color: blue; */
    position: absolute;
    top: 656px;
    left: 24px;
    padding: 0px 0 0 0px;

  }
  .scale__table-title {
    font-size: 12px;
  }
  .scale__table-content {
    font-size: 12px;
    height: 31px;
  }
 
}
