@media (max-width: 390px) {
  .sensor {
    width: 358px;
    height: 599px;
    border-radius: 20px;
    margin: auto;
    margin-left: 16px;

    margin-top: 24px;
  }
  .sensor__img {
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 331px;
    height: 316px;
  }
  .sensor__title {
    text-align: left;
    font-size: 20px;
    width: 310px;
    padding-top: 32px;
  }
  .sensor__content2 {
    position: absolute;
    top: 215px;
    left: 24px;
    width: 238px;
    height: 40px;
  }
  .sensor__content1 {
    position: absolute;
    top: 118px;
    /* right: 96px; */
    left: 24px;
    width: 238px;
    height: 68px;
  }
  .sensor__content1 h2 {
    font-size: 16px;
  }
  .sensor__content1 li {
    font-size: 16px;
  }
  .sensor__content2 h2 {
    width: 238px;
    color: #fff;
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 150%;
    padding-top: 29px;
  }
  .sensor__content2 a {
    font-size: 12px;
  }
}
