@media (max-width: 1710px) {
  .scale {
    width: 1080px;
    height: 600px;
    border-radius: 28px;
    margin-left: 220px;
    margin-top: 100px;
  }
  .scale__img img{
    width: 550px;
    height: 550px;
  }
}
@media (max-width: 1610px) {
  .scale {
    width: 980px;
    height: 600px;
    border-radius: 28px;
    margin-left: 220px;
    margin-top: 90px;
  }
  .scale__img img{
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1510px) {
  .scale {
    width: 900px;
    height: 600px;
    border-radius: 28px;
    margin-left: 200px;
    margin-top: 60px;
  }
  .scale__img img{
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1410px) {
  .scale {
    width: 810px;
    height: 600px;
    border-radius: 28px;
    margin-left: 180px;
    margin-top: 60px;
  }
  .scale__img img{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 390px) {
  .sensor {
    width: 358px;
    height: 599px;
    border-radius: 20px;
    margin: auto;
    margin-left: 16px;

    margin-top: 24px;
  }
  .sensor__img {
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 331px;
    height: 316px;
  }
  .sensor__title {
    text-align: left;
    font-size: 20px;
    width: 310px;
    padding-top: 32px;
  }
  .sensor__content2 {
    position: absolute;
    top: 215px;
    left: 24px;
    width: 238px;
    height: 40px;
  }
  .sensor__content1 {
    position: absolute;
    top: 118px;
    /* right: 96px; */
    left: 24px;
    width: 238px;
    height: 68px;
  }
  .sensor__content1 h2 {
    font-size: 16px;
  }
  .sensor__content1 li {
    font-size: 16px;
  }
  .sensor__content2 h2 {
    width: 238px;
    color: #fff;
    font-size: 16px;
    padding-bottom: 16px;
    line-height: 150%;
    padding-top: 29px;
  }
  .sensor__content2 a {
    font-size: 12px;
  }
}
